#root {
    display: grid;
    grid-template-columns: 8rem auto;
    background-color: #222222;
}
.sidebar {
    text-align: center;
}

.loading {
    background-color: white;
    text-align: center;
    padding-top: 48%;
    width: 100%;
    height: 100%;
}

.table-actions a {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}

.text-success {
    color: mediumseagreen;
}
.text-danger {
    color: red;
}
.text-warning {
    color: orange;
}
.text-info {
    color: mediumblue;
}
